{% extends 'cheapest_trip/layout.html'%}
{% load static %}
{% block css %}
{% endblock%}

{% block content %}

<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            <div class="card mb-4">
                <div class="card-header pb-0">
                    <h6>New Arrival Cities Table</h6>


                </div>
                <div class="card-header pb-0">
                    <h6>Total : {{ flights | length}} Flights Added</h6>


                </div>

                <div class="card-body px-0 pt-0 pb-2">
                    <div class="table-responsive p-0">
                        <table class="table align-items-center mb-0">
                            <thead>
                                <tr>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        Airport Code
                                    </th>

                                </tr>
                            </thead>
                            <tbody>
                                {% for flight in flights %}


                                <tr>
                                    <td>
                                        <div class="d-flex px-3 py-2">

                                            <div class="d-flex flex-column justify-content-center text-uppercase">
                                                <h6 class="mb-0 text-sm">{{flight}}</h6>

                                            </div>
                                        </div>
                                    </td>
                                    <!-- <td>
                                        <div class="d-flex px-3 py-2">

                                            <div class="d-flex flex-column justify-content-center text-uppercase">
                                                <h6 class="mb-0 text-sm">{{flight.arrival_city}}</h6>
                                                <p class="text-xs text-secondary mb-0">
                                                    {{flight.arrival_date}}-{{flight.arrival_time}}
                                                </p>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="align-middle text-center text-md">
                                        {% if flight.price > 1000 %}
                                        <span class="badge badge-md bg-gradient-primary">{{flight.price}} /
                                            {{flight.currency}}</span>

                                        {% elif flight.price > 500 and flight.price < 1000 %} <span
                                            class="badge badge-md bg-gradient-success">{{flight.price}} /
                                            {{flight.currency}}</span>

                                            {% else %}
                                            <span class="badge badge-md bg-gradient-secondary">{{flight.price}}
                                                /
                                                {{flight.currency}}</span>
                                            {% endif %}
                                    </td> -->
                                    <!-- <td class="align-middle text-center">
                                        <span class="text-secondary text-xs font-weight-bold">{{flight.duration}}</span>
                                    </td> -->
                                    <!-- <td class="align-middle">
                                                <a href="javascript:;" class="text-secondary font-weight-bold text-xs"
                                                    data-toggle="tooltip" data-original-title="Edit user">
                                                    Edit/Delete
                                                </a>
                                            </td> -->
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock%}
{% block js %}
{% endblock%}