{% extends 'cheapest_trip/layout.html'%}
{% load static %}
{% block css %}
{% endblock%}

{% block content %}
<section>
    <div class="page-header section-height-75">
        <div class="container">
            <div class="row">
                <div class="col-xl-5 col-lg-5 col-md-6 d-flex flex-column mx-auto">
                    <div class="card card-plainmt-4 ">
                        <div class="card-header pb-0 text-center bg-transparent">
                            <h3 class="font-weight-bolder text-info text-gradient">Search Now</h3>
                            <p class="mb-0">Enter your Departure and Arrival Airport Code</p>
                        </div>
                        <div class="card-body">
                            <form role="form text-left" action="{% url 'search' %}" method="POST">
                                {% csrf_token %}
                                <label>Departure Ariport Code*</label>
                                <div class="mb-3">
                                    <input type="text" class="form-control" name="Departure" placeholder="Departure"
                                        aria-label="Departure" aria-describedby="email-addon" required>
                                </div>
                                <label>Arrival Code</label>
                                <div class="mb-3">
                                    <input type="text" class="form-control" name="Arrival" placeholder="Arrival"
                                        aria-label="Arrival" aria-describedby="email-addon">
                                </div>
                                <label>Departure Date*</label>
                                <div class="mb-3">
                                    <input type="date" class="form-control" name="DepartureDate"
                                        aria-label="DepartureDate" aria-describedby="email-addon" required>
                                </div>
                                <div class="text-center">
                                    <button type="submit" class="btn bg-gradient-info w-100 mt-4 mb-0">Search
                                        Now</button>
                                </div>
                            </form>
                        </div>
                        <!-- <div class="card-footer text-center pt-0 px-lg-2 px-1">
                            <p class="mb-4 text-sm mx-auto">
                                Don't have an account?
                                <a href="javascript:;" class="text-info text-gradient font-weight-bold">Sign up</a>
                            </p>
                        </div> -->
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="oblique position-absolute top-0 h-100 d-md-block d-none me-n8">
                        <div class="oblique-image bg-cover position-absolute fixed-top ms-auto h-100 z-index-0 ms-n6"
                            style="background-image:url('{% static 'assets/img/curved-images/curved6.jpg' %}')"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock%}
{% block js %}
{% endblock%}